html{
    background-color: yellow;
    margin-left: 125px;
    margin-right: 125px;
    margin-top:50px;
}
div{
    display:inline-block;
}
.div1{
    float:left;
    width: 50%;
}
.div2{
    float:right;
    width:50%;
}
p{
    font-family: sans-serif;
    font-size: 14px;
}
.title{
    font-size: 30px;
    text-align: center;
    margin-bottom: -10px;
}
#address{
    text-align: center;
}
#bottom{
    align-content: center;
    text-align: center;
    font-size: 16px;
    position: fixed;
    bottom: 20px;
    
}
.subhead{
    font-size: 18px;
    margin-bottom: -13px;
}
.items {
    float:left;
    width: 70%;
}
.price{
    float:right;
    width: 30%;
}
#seafoodheading{
    font-size: 20px;
    margin-bottom: -13px;
    width:70%;
}
#seafooditem{
    float:left;
    width:100%;
}
.smalltext{
    font-size: 12px;
    width: 50%;  
}